.tests__title {
  font-size: 72px;
  line-height: 70px;

  @media (max-width: 1024px) {
    font-size: 54px;
    line-height: 53px;
  }

  @media (max-width: 425px) {
    font-size: 40px;
    line-height: 39px;
  }
}