.modal__form {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 676px;
  width: 100%;
  background-color: #fff;
  padding: 48px 32px 32px;
  border-radius: 32px;
  margin: 64px auto 0;
}