.contacts__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  background: #000;
  border-radius: 16px;
  height: 45px;
  padding: 0 32px;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
  border: none;
  cursor: pointer;
}
.contacts__button:hover {
  background: #9e00ff;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}
@media (max-width: 1024px) {
  .contacts__button {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .contacts__button {
    font-size: 16px;
  }
}