.modal__file-input {
  position: absolute;
  color: transparent;
  width: 225px;
  height: 36px;
  top: 476px;
  right: 32px;

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &:active {
    outline: 0;
  }

  &:hover::before {
    background: #9e00ff;
  }

  &::before {
    display: flex;
    align-items: center;
    content: attr(data-before);
    color: #fff;
    background: #000;
    border-radius: 8px;
    padding: 6px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 20px;
    max-height: 36px;
    max-width: 225px;

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 2px;
    width: 32px;
    height: 36px;
    background: url("../../../../img/file\ input.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  @media (max-width: 1024px) {
    top: 370px;
  }

  @media (max-width: 623px) {
    top: 500px;
    width: 36px;

    &::before {
      color: #000;
      max-width: 36px;
    }
  }

  @media (max-width: 566px) {
    top: 520px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
    top: 480px;
  }

  @media (max-width: 359px) {
    top: 500px;
  }
}
