.swiper__slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 352px;
  border-radius: 32px;
  background-image: url("../../../../img/cardbg.jpg");
  background-size: cover;
  background-position: center;
  padding: 8px;
}