.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  margin-right: 8px;
}
@media (max-width: 1150px) {
  .nav {
    gap: 12px;
  }
}
@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}